# ============================
# Maven / Java / Spring Boot
# ============================
target/
*.jar
*.war
*.ear

# ============================
# Logs
# ============================
*.log
logs/

# ============================
# IDEs
# ============================
.idea/
.vscode/
*.iml
*.ipr
*.iws

# ============================
# Eclipse
# ============================
.project
.classpath
.settings/
bin/

# ============================
# Sistema Operacional
# ============================
.DS_Store
Thumbs.db

# ============================
# Ambiente
# ============================
.env
.env.*
